<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @textbook.name %>
</p>

<p>
  <b>Author:</b>
  <%= @textbook.author %>
</p>

<p>
  <b>Isbn:</b>
  <%= @textbook.isbn %>
</p>


<%= link_to 'Edit', edit_textbook_path(@textbook) %> |
<%= link_to 'Back', textbooks_path %>
